ERD_Diagram.png
aws-ec2-cs348.pem

# Node dependencies
/node_modules

# React dependencies
/client/node_modules

# React build
/client/build
# Local Netlify folder
.netlify

notes.txt
/.vs/slnx.sqlite
.vs/CS348-Project/v16/.suo
.vs/VSWorkspaceState.json
