@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@700&display=swap");

.filter-header {
  margin-top: 15px !important;
}

.slider-label {
  width: 80%;
}

.filter-button {
  font-family: "Montserrat Alternates", sans-serif !important;
}
